<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/auth.css" />
    <script src="/js/resetPassword.js" defer></script>
  </head>
  
  <body>
   <%- include('../includes/navigation.ejs') %>

    <main>
      <p class="userMessage userMessage--error hide-field"></p>
      <p class="userMessage userMessage--reset hide-field"></p>
      <form class="login-form">
        <div class="form-control">
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email" />
        </div>
        <input type="hidden" value="<%= csurfToken %>" class="csurfToken" />
        <button class="btn resetPasswordBtn" type="submit">Reset Password</button>
      </form>
    </main>
    <%- include('../includes/end.ejs') %>
